<a href="https://colab.research.google.com/github/HarryWightJr/final_project/blob/main/data_cleaning_s3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,484 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,098 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,660 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,262 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:21 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.8 kB]
Fetched 9,850 kB in 4s (2,209 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-03-24 21:39:52--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  6.05MB/s    in 0.2s

2022-03-24 21:39:53 (6.05 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url_1 = "https://bootcampfinalproject.s3.amazonaws.com/Resources/Crime_2019.csv"
url_2 = "https://bootcampfinalproject.s3.amazonaws.com/Resources/Crime_2020.csv"
url_3 = "https://bootcampfinalproject.s3.amazonaws.com/Resources/Sale_Prices_City.csv"
url_4 = "https://bootcampfinalproject.s3.amazonaws.com/Resources/Income.csv"
spark.sparkContext.addFile(url_1)
crime_2019_df = spark.read.csv(SparkFiles.get("Crime_2019.csv"), sep=",", header=True)
spark.sparkContext.addFile(url_2)
crime_2020_df = spark.read.csv(SparkFiles.get("Crime_2020.csv"), sep=",", header=True)
spark.sparkContext.addFile(url_3)
city_sales_df = spark.read.csv(SparkFiles.get("Sale_Prices_City.csv"), sep=",", header=True)
spark.sparkContext.addFile(url_4)
income_df = spark.read.csv(SparkFiles.get("Income.csv"), sep=",", header=True)

In [5]:
crime_2019_df.show()

+----------+-------+--------------+--------+---------------+------------------------+-------------------------+
|      City|  State|City and State|CountyID|Population 2019|Violent Crime Total 2019|Property Crime Total 2019|
+----------+-------+--------------+--------+---------------+------------------------+-------------------------+
|    Hoover|ALABAMA|    Hoover, AL|    1073|          85670|                     114|                     1922|
| Anchorage| ALASKA| Anchorage, AK|    2020|         287731|                    3581|                    12261|
|    Bethel| ALASKA|    Bethel, AK|    2050|           6544|                     130|                      132|
|   Cordova| ALASKA|   Cordova, AK|    2261|           2150|                       0|                        7|
|     Craig| ALASKA|     Craig, AK|    2198|           1313|                       7|                       20|
|Dillingham| ALASKA|Dillingham, AK|    2070|           2405|                      49|                       58|
| Fairbanks| ALASKA| Fairbanks, AK|    2090|          31493|                     247|                     1353|
|    Haines| ALASKA|    Haines, AK|    2100|           2441|                       9|                       13|
|     Homer| ALASKA|     Homer, AK|    2122|           5913|                      12|                      146|
|    Juneau| ALASKA|    Juneau, AK|    2110|          31810|                     289|                     1292|
|     Kenai| ALASKA|     Kenai, AK|    2122|           7862|                      75|                      446|
| Ketchikan| ALASKA| Ketchikan, AK|    2130|           8316|                      40|                      421|
|    Kodiak| ALASKA|    Kodiak, AK|    2150|           5947|                      49|                      190|
|  Kotzebue| ALASKA|  Kotzebue, AK|    2188|           3272|                      77|                       83|
|      Nome| ALASKA|      Nome, AK|    2180|           3899|                     107|                       53|
|North Pole| ALASKA|North Pole, AK|    2090|           2111|                      16|                       79|
|    Palmer| ALASKA|    Palmer, AK|    2170|           7490|                      21|                      204|
|Petersburg| ALASKA|Petersburg, AK|    2195|           3181|                      10|                       88|
|    Seward| ALASKA|    Seward, AK|    2122|           2732|                       9|                      105|
|     Sitka| ALASKA|     Sitka, AK|    2220|           8512|                      16|                      168|
+----------+-------+--------------+--------+---------------+------------------------+-------------------------+
only showing top 20 rows

In [6]:
dropped_crime_2019_df = crime_2019_df.drop("City", "State","City and State")
sorted_crime_2019_df = dropped_crime_2019_df.sort("CountyID")
final_crime_2019_df = sorted_crime_2019_df.dropDuplicates(["CountyID"])
final_crime_2019_df.show()

+--------+---------------+------------------------+-------------------------+
|CountyID|Population 2019|Violent Crime Total 2019|Property Crime Total 2019|
+--------+---------------+------------------------+-------------------------+
|   10001|           3507|                       5|                      173|
|   10003|           1830|                      11|                       52|
|   10005|           1244|                       3|                       79|
|    1073|          85670|                     114|                     1922|
|   11001|         705749|                    6896|                    29965|
|   12001|          10070|                      41|                      230|
|   12005|          21859|                      29|                      310|
|   12007|            722|                       4|                        5|
|   12009|          18807|                     151|                      965|
|   12011|          62471|                      82|                     1010|
|   12013|            504|                       0|                        0|
|   12015|          20458|                      18|                      278|
|   12019|           8505|                      30|                      182|
|   12021|          18124|                       7|                       83|
|   12023|          12141|                     161|                      781|
|   12027|           8274|                      55|                      106|
|   12029|           1710|                       2|                        2|
|   12031|          13983|                      36|                      197|
|   12033|          52801|                     312|                     1888|
|   12035|           2865|                      33|                      105|
+--------+---------------+------------------------+-------------------------+
only showing top 20 rows

In [7]:
final_crime_2019_df.count()

2153

In [8]:
crime_2020_df.show()

+------------+-------+----------------+--------+---------------+------------------------+-------------------------+
|        City|  State|  City and State|CountyID|Population 2020|Violent Crime Total 2020|Property Crime Total 2020|
+------------+-------+----------------+--------+---------------+------------------------+-------------------------+
| Cedar Bluff|Alabama| Cedar Bluff, AL|    1019|           1823|                       4|                       36|
|      Centre|Alabama|      Centre, AL|    1019|           3547|                      20|                      124|
|   Daleville|Alabama|   Daleville, AL|    1045|           5080|                      16|                       98|
|  Enterprise|Alabama|  Enterprise, AL|    1031|          28569|                     128|                      715|
|     Eufaula|Alabama|     Eufaula, AL|    1005|          11568|                      95|                      456|
|     Glencoe|Alabama|     Glencoe, AL|    1055|           5063|                      10|                       41|
| Hokes Bluff|Alabama| Hokes Bluff, AL|    1055|           4254|                       6|                       33|
|     Jackson|Alabama|     Jackson, AL|    1025|           4583|                      29|                       83|
|    Kimberly|Alabama|    Kimberly, AL|    1073|           3660|                       6|                       20|
|    Leesburg|Alabama|    Leesburg, AL|    1019|           1014|                       2|                       18|
|    Leighton|Alabama|    Leighton, AL|    1033|            754|                      12|                       36|
|      Marion|Alabama|      Marion, AL|    1105|           3067|                       5|                       12|
|   Odenville|Alabama|   Odenville, AL|    1115|           3915|                      11|                       46|
|    Piedmont|Alabama|    Piedmont, AL|    1015|           4501|                      23|                       92|
|Rainbow City|Alabama|Rainbow City, AL|    1055|           9610|                       6|                       86|
| Rogersville|Alabama| Rogersville, AL|    1077|           1250|                       4|                       29|
|    Saraland|Alabama|    Saraland, AL|    1097|          14751|                      30|                      470|
| Thomasville|Alabama| Thomasville, AL|    1025|           3799|                      18|                      112|
|   Anchorage| Alaska|   Anchorage, AK|    2020|         286388|                    3472|                     9872|
|      Bethel| Alaska|      Bethel, AK|    2050|           6642|                      93|                       71|
+------------+-------+----------------+--------+---------------+------------------------+-------------------------+
only showing top 20 rows

In [9]:
dropped_crime_2020_df = crime_2020_df.drop("City", "State","City and State")
sorted_crime_2020_df = dropped_crime_2020_df.sort("CountyID")
final_crime_2020_df = sorted_crime_2020_df.dropDuplicates(["CountyID"])
final_crime_2020_df.show()

+--------+---------------+------------------------+-------------------------+
|CountyID|Population 2020|Violent Crime Total 2020|Property Crime Total 2020|
+--------+---------------+------------------------+-------------------------+
|   10001|           3562|                      11|                      209|
|   10003|           1844|                      12|                       31|
|   10005|           1268|                       0|                       63|
|    1005|          11568|                      95|                      456|
|    1015|           4501|                      23|                       92|
|    1019|           1823|                       4|                       36|
|    1025|           4583|                      29|                       83|
|    1031|          28569|                     128|                      715|
|    1033|            754|                      12|                       36|
|    1045|           5080|                      16|                       98|
|    1055|           5063|                      10|                       41|
|    1073|           3660|                       6|                       20|
|    1077|           1250|                       4|                       29|
|    1097|          14751|                      30|                      470|
|   11001|         712816|                    6828|                    24459|
|    1105|           3067|                       5|                       12|
|    1115|           3915|                      11|                       46|
|   12001|           9998|                      40|                      251|
|   12005|          20733|                      22|                      193|
|   12007|            725|                       2|                        7|
+--------+---------------+------------------------+-------------------------+
only showing top 20 rows

In [10]:
final_crime_2020_df.count()

2113

In [11]:
city_sales_df.show()

+--------------------+--------------+--------+---------------------+---------------------+
|          RegionName|     StateName|CountyID|AverageSalesPrice2019|AverageSalesPrice2020|
+--------------------+--------------+--------+---------------------+---------------------+
|      Youngstown, OH|          Ohio|   39099|                29625|                31300|
|          Harvey, IL|      Illinois|   17031|                35183|                36000|
|         Trenton, NJ|    New Jersey|   34021|                51833|                56450|
|   Maple Heights, OH|          Ohio|   39035|                58692|                70567|
|        Bay City, MI|      Michigan|   26017|                59150|                64300|
|Garfield Heights, OH|          Ohio|   39035|                62817|                67467|
|       Cleveland, OH|          Ohio|   39035|                62925|                67350|
|    Granite City, IL|      Illinois|   17119|                65667|                65400|
|           Akron, OH|          Ohio|   39153|                71367|                72567|
|          Euclid, OH|          Ohio|   39035|                72625|                77650|
|     Forest Park, GA|       Georgia|   13063|                73108|                96450|
|        Del City, OK|      Oklahoma|   40109|                73258|                85600|
|         Decatur, IL|      Illinois|   17115|                73833|                86450|
|       Galesburg, IL|      Illinois|   17095|                75767|                68850|
|      Pine Bluff, AR|      Arkansas|    5069|                76300|                76967|
|          Toledo, OH|          Ohio|   39095|                76400|                82350|
|         Ottumwa, IA|          Iowa|   19179|                77258|                68800|
|          Duncan, OK|      Oklahoma|   40137|                77675|                84600|
|         Kinston, NC|North Carolina|   37107|                77958|                70600|
|         Altoona, PA|  Pennsylvania|   42013|                77983|                74000|
+--------------------+--------------+--------+---------------------+---------------------+
only showing top 20 rows

In [12]:
city_sales_df.withColumn("CountyID",city_sales_df.CountyID.cast('int'))

DataFrame[RegionName: string, StateName: string, CountyID: int, AverageSalesPrice2019: string, AverageSalesPrice2020: string]

In [13]:
city_sales_df.show()

+--------------------+--------------+--------+---------------------+---------------------+
|          RegionName|     StateName|CountyID|AverageSalesPrice2019|AverageSalesPrice2020|
+--------------------+--------------+--------+---------------------+---------------------+
|      Youngstown, OH|          Ohio|   39099|                29625|                31300|
|          Harvey, IL|      Illinois|   17031|                35183|                36000|
|         Trenton, NJ|    New Jersey|   34021|                51833|                56450|
|   Maple Heights, OH|          Ohio|   39035|                58692|                70567|
|        Bay City, MI|      Michigan|   26017|                59150|                64300|
|Garfield Heights, OH|          Ohio|   39035|                62817|                67467|
|       Cleveland, OH|          Ohio|   39035|                62925|                67350|
|    Granite City, IL|      Illinois|   17119|                65667|                65400|
|           Akron, OH|          Ohio|   39153|                71367|                72567|
|          Euclid, OH|          Ohio|   39035|                72625|                77650|
|     Forest Park, GA|       Georgia|   13063|                73108|                96450|
|        Del City, OK|      Oklahoma|   40109|                73258|                85600|
|         Decatur, IL|      Illinois|   17115|                73833|                86450|
|       Galesburg, IL|      Illinois|   17095|                75767|                68850|
|      Pine Bluff, AR|      Arkansas|    5069|                76300|                76967|
|          Toledo, OH|          Ohio|   39095|                76400|                82350|
|         Ottumwa, IA|          Iowa|   19179|                77258|                68800|
|          Duncan, OK|      Oklahoma|   40137|                77675|                84600|
|         Kinston, NC|North Carolina|   37107|                77958|                70600|
|         Altoona, PA|  Pennsylvania|   42013|                77983|                74000|
+--------------------+--------------+--------+---------------------+---------------------+
only showing top 20 rows

In [14]:
dropped_city_sales_df = city_sales_df.drop("RegionName", "StateName")
final_city_sales_df = dropped_city_sales_df.dropDuplicates(["CountyID"])
final_city_sales_df.show()

+--------+---------------------+---------------------+
|CountyID|AverageSalesPrice2019|AverageSalesPrice2020|
+--------+---------------------+---------------------+
|   10001|               180117|               189500|
|   10003|               177100|               187950|
|   10005|               151633|               167100|
|    1003|               172500|               173833|
|    1015|               124467|               132733|
|    1021|               137167|               149933|
|    1031|               146258|               162033|
|    1043|               155033|               148633|
|    1051|               131142|               149367|
|    1069|               146817|               148333|
|    1073|                94425|               100833|
|    1077|               118333|               118067|
|    1083|               165883|               172033|
|    1089|               158750|               199533|
|    1095|               110550|               139900|
|    1097|               122017|               130933|
|   11001|               547475|               580633|
|    1101|               101533|               119650|
|    1103|               121883|               126567|
|    1113|               150650|               163933|
+--------+---------------------+---------------------+
only showing top 20 rows

In [15]:
final_city_sales_df.count()

994

In [16]:
income_df.show()

+---------+-------+------------------+--------+-----------+-----------+
|   County|  State|     County, State|CountyID|Income_2019|Income_2020|
+---------+-------+------------------+--------+-----------+-----------+
|  Autauga|Alabama|  Autauga, Alabama|    1001|      44368|      46814|
|  Baldwin|Alabama|  Baldwin, Alabama|    1003|      48270|      50953|
|  Barbour|Alabama|  Barbour, Alabama|    1005|      35572|      37850|
|     Bibb|Alabama|     Bibb, Alabama|    1007|      31540|      34300|
|   Blount|Alabama|   Blount, Alabama|    1009|      36969|      38808|
|  Bullock|Alabama|  Bullock, Alabama|    1011|      28136|      31944|
|   Butler|Alabama|   Butler, Alabama|    1013|      38073|      39988|
|  Calhoun|Alabama|  Calhoun, Alabama|    1015|      37708|      40195|
| Chambers|Alabama| Chambers, Alabama|    1017|      36110|      38508|
| Cherokee|Alabama| Cherokee, Alabama|    1019|      36381|      37869|
|  Chilton|Alabama|  Chilton, Alabama|    1021|      36471|      38778|
|  Choctaw|Alabama|  Choctaw, Alabama|    1023|      39097|      42231|
|   Clarke|Alabama|   Clarke, Alabama|    1025|      37061|      40822|
|     Clay|Alabama|     Clay, Alabama|    1027|      34185|      37179|
| Cleburne|Alabama| Cleburne, Alabama|    1029|      35905|      37734|
|   Coffee|Alabama|   Coffee, Alabama|    1031|      43319|      45262|
|  Colbert|Alabama|  Colbert, Alabama|    1033|      38860|      41941|
|  Conecuh|Alabama|  Conecuh, Alabama|    1035|      33596|      36908|
|    Coosa|Alabama|    Coosa, Alabama|    1037|      32548|      34683|
|Covington|Alabama|Covington, Alabama|    1039|      35927|      37930|
+---------+-------+------------------+--------+-----------+-----------+
only showing top 20 rows

In [17]:
dropped_income_df = income_df.drop("County", "State","County, State")
final_income_df = dropped_income_df.dropDuplicates(["CountyID"])
final_income_df.show()

+--------+-----------+-----------+
|CountyID|Income_2019|Income_2020|
+--------+-----------+-----------+
|   10001|      43761|      46600|
|   10003|      57404|      59955|
|   10005|      52935|      54352|
|    1001|      44368|      46814|
|    1003|      48270|      50953|
|    1005|      35572|      37850|
|    1007|      31540|      34300|
|    1009|      36969|      38808|
|    1011|      28136|      31944|
|    1013|      38073|      39988|
|    1015|      37708|      40195|
|    1017|      36110|      38508|
|    1019|      36381|      37869|
|    1021|      36471|      38778|
|    1023|      39097|      42231|
|    1025|      37061|      40822|
|    1027|      34185|      37179|
|    1029|      35905|      37734|
|    1031|      43319|      45262|
|    1033|      38860|      41941|
+--------+-----------+-----------+
only showing top 20 rows

In [18]:
final_income_df.count()

3038

In [19]:
# Combine the data into a single dataset.
partial_1_df = final_city_sales_df.join(final_crime_2019_df, on="CountyID", how="left")
partial_1_df.show()

+--------+---------------------+---------------------+---------------+------------------------+-------------------------+
|CountyID|AverageSalesPrice2019|AverageSalesPrice2020|Population 2019|Violent Crime Total 2019|Property Crime Total 2019|
+--------+---------------------+---------------------+---------------+------------------------+-------------------------+
|   10001|               180117|               189500|           3507|                       5|                      173|
|   10003|               177100|               187950|           1830|                      11|                       52|
|   10005|               151633|               167100|           1244|                       3|                       79|
|    1003|               172500|               173833|           null|                    null|                     null|
|    1015|               124467|               132733|           null|                    null|                     null|
|    1021|               137167|               149933|           null|                    null|                     null|
|    1031|               146258|               162033|           null|                    null|                     null|
|    1043|               155033|               148633|           null|                    null|                     null|
|    1051|               131142|               149367|           null|                    null|                     null|
|    1069|               146817|               148333|           null|                    null|                     null|
|    1073|                94425|               100833|          85670|                     114|                     1922|
|    1077|               118333|               118067|           null|                    null|                     null|
|    1083|               165883|               172033|           null|                    null|                     null|
|    1089|               158750|               199533|           null|                    null|                     null|
|    1095|               110550|               139900|           null|                    null|                     null|
|    1097|               122017|               130933|           null|                    null|                     null|
|   11001|               547475|               580633|         705749|                    6896|                    29965|
|    1101|               101533|               119650|           null|                    null|                     null|
|    1103|               121883|               126567|           null|                    null|                     null|
|    1113|               150650|               163933|           null|                    null|                     null|
+--------+---------------------+---------------------+---------------+------------------------+-------------------------+
only showing top 20 rows

In [20]:
partial_2_df = partial_1_df.join(final_crime_2020_df, how="left", on="CountyID")
partial_2_df.show()

+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+
|CountyID|AverageSalesPrice2019|AverageSalesPrice2020|Population 2019|Violent Crime Total 2019|Property Crime Total 2019|Population 2020|Violent Crime Total 2020|Property Crime Total 2020|
+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+
|   10001|               180117|               189500|           3507|                       5|                      173|           3562|                      11|                      209|
|   10003|               177100|               187950|           1830|                      11|                       52|           1844|                      12|                       31|
|   10005|               151633|               167100|           1244|                       3|                       79|           1268|                       0|                       63|
|    1003|               172500|               173833|           null|                    null|                     null|           null|                    null|                     null|
|    1015|               124467|               132733|           null|                    null|                     null|           4501|                      23|                       92|
|    1021|               137167|               149933|           null|                    null|                     null|           null|                    null|                     null|
|    1031|               146258|               162033|           null|                    null|                     null|          28569|                     128|                      715|
|    1043|               155033|               148633|           null|                    null|                     null|           null|                    null|                     null|
|    1051|               131142|               149367|           null|                    null|                     null|           null|                    null|                     null|
|    1069|               146817|               148333|           null|                    null|                     null|           null|                    null|                     null|
|    1073|                94425|               100833|          85670|                     114|                     1922|           3660|                       6|                       20|
|    1077|               118333|               118067|           null|                    null|                     null|           1250|                       4|                       29|
|    1083|               165883|               172033|           null|                    null|                     null|           null|                    null|                     null|
|    1089|               158750|               199533|           null|                    null|                     null|           null|                    null|                     null|
|    1095|               110550|               139900|           null|                    null|                     null|           null|                    null|                     null|
|    1097|               122017|               130933|           null|                    null|                     null|          14751|                      30|                      470|
|   11001|               547475|               580633|         705749|                    6896|                    29965|         712816|                    6828|                    24459|
|    1101|               101533|               119650|           null|                    null|                     null|           null|                    null|                     null|
|    1103|               121883|               126567|           null|                    null|                     null|           null|                    null|                     null|
|    1113|               150650|               163933|           null|                    null|                     null|           null|                    null|                     null|
+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+
only showing top 20 rows

In [21]:
complete_df = partial_2_df.join(final_income_df, how="left", on="CountyID")
complete_df.show()

+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+-----------+-----------+
|CountyID|AverageSalesPrice2019|AverageSalesPrice2020|Population 2019|Violent Crime Total 2019|Property Crime Total 2019|Population 2020|Violent Crime Total 2020|Property Crime Total 2020|Income_2019|Income_2020|
+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+-----------+-----------+
|   10001|               180117|               189500|           3507|                       5|                      173|           3562|                      11|                      209|      43761|      46600|
|   10003|               177100|               187950|           1830|                      11|                       52|           1844|                      12|                       31|      57404|      59955|
|   10005|               151633|               167100|           1244|                       3|                       79|           1268|                       0|                       63|      52935|      54352|
|    1003|               172500|               173833|           null|                    null|                     null|           null|                    null|                     null|      48270|      50953|
|    1015|               124467|               132733|           null|                    null|                     null|           4501|                      23|                       92|      37708|      40195|
|    1021|               137167|               149933|           null|                    null|                     null|           null|                    null|                     null|      36471|      38778|
|    1031|               146258|               162033|           null|                    null|                     null|          28569|                     128|                      715|      43319|      45262|
|    1043|               155033|               148633|           null|                    null|                     null|           null|                    null|                     null|      41211|      42659|
|    1051|               131142|               149367|           null|                    null|                     null|           null|                    null|                     null|      44561|      47270|
|    1069|               146817|               148333|           null|                    null|                     null|           null|                    null|                     null|      44300|      47072|
|    1073|                94425|               100833|          85670|                     114|                     1922|           3660|                       6|                       20|      56599|      58424|
|    1077|               118333|               118067|           null|                    null|                     null|           1250|                       4|                       29|      38135|      40729|
|    1083|               165883|               172033|           null|                    null|                     null|           null|                    null|                     null|      44841|      47695|
|    1089|               158750|               199533|           null|                    null|                     null|           null|                    null|                     null|      54169|      57128|
|    1095|               110550|               139900|           null|                    null|                     null|           null|                    null|                     null|      37913|      40045|
|    1097|               122017|               130933|           null|                    null|                     null|          14751|                      30|                      470|      40003|      42823|
|   11001|               547475|               580633|         705749|                    6896|                    29965|         712816|                    6828|                    24459|       null|       null|
|    1101|               101533|               119650|           null|                    null|                     null|           null|                    null|                     null|      44597|      47776|
|    1103|               121883|               126567|           null|                    null|                     null|           null|                    null|                     null|      41895|      44679|
|    1113|               150650|               163933|           null|                    null|                     null|           null|                    null|                     null|      33796|      36526|
+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+-----------+-----------+
only showing top 20 rows

In [22]:
complete_df.count()

994

In [23]:
# Print our schema
complete_df.printSchema()

root
 |-- CountyID: string (nullable = true)
 |-- AverageSalesPrice2019: string (nullable = true)
 |-- AverageSalesPrice2020: string (nullable = true)
 |-- Population 2019: string (nullable = true)
 |-- Violent Crime Total 2019: string (nullable = true)
 |-- Property Crime Total 2019: string (nullable = true)
 |-- Population 2020: string (nullable = true)
 |-- Violent Crime Total 2020: string (nullable = true)
 |-- Property Crime Total 2020: string (nullable = true)
 |-- Income_2019: string (nullable = true)
 |-- Income_2020: string (nullable = true)

In [24]:
complete_df = complete_df.dropna(subset = ['Population 2019', 'Violent Crime Total 2019', 'Property Crime Total 2019','Population 2020', 'Violent Crime Total 2020', 'Property Crime Total 2020', 'Income_2019', 'Income_2020'])

In [25]:
complete_df.show()

+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+-----------+-----------+
|CountyID|AverageSalesPrice2019|AverageSalesPrice2020|Population 2019|Violent Crime Total 2019|Property Crime Total 2019|Population 2020|Violent Crime Total 2020|Property Crime Total 2020|Income_2019|Income_2020|
+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+-----------+-----------+
|   10001|               180117|               189500|           3507|                       5|                      173|           3562|                      11|                      209|      43761|      46600|
|   10003|               177100|               187950|           1830|                      11|                       52|           1844|                      12|                       31|      57404|      59955|
|   10005|               151633|               167100|           1244|                       3|                       79|           1268|                       0|                       63|      52935|      54352|
|    1073|                94425|               100833|          85670|                     114|                     1922|           3660|                       6|                       20|      56599|      58424|
|   12001|               183158|               234600|          10070|                      41|                      230|           9998|                      40|                      251|      46636|      49556|
|   12005|               148733|               188133|          21859|                      29|                      310|          20733|                      22|                      193|      46818|      50696|
|   12009|               153658|               171150|          18807|                     151|                      965|          18769|                     214|                     1101|      48539|      51507|
|   12011|               100842|               110500|          62471|                      82|                     1010|          62220|                      88|                      662|      52864|      55908|
|   12015|               178658|               191650|          20458|                      18|                      278|          20766|                      14|                      272|      43549|      45606|
|   12019|               163667|               182150|           8505|                      30|                      182|           8783|                      40|                      145|      44818|      47407|
|   12021|               318133|               329000|          18124|                       7|                       83|          18121|                      15|                      103|     103205|     103865|
|   12023|               144050|               174350|          12141|                     161|                      781|          12403|                     193|                      669|      35600|      38243|
|   12027|               128350|               157133|           8274|                      55|                      106|           8392|                      49|                       97|      25717|      27863|
|   12031|               162458|               189350|          13983|                      36|                      197|          14012|                      52|                      250|      48096|      51131|
|   12033|               156000|               172633|          52801|                     312|                     1888|          53083|                     327|                     1543|      44377|      47381|
|   12035|               221492|               227750|           2865|                      33|                      105|           2999|                      30|                       85|      48754|      50599|
|   12051|               132967|               148267|           8098|                      26|                      211|           8125|                      34|                      165|      31921|      35546|
|   12053|               163292|               176300|           8373|                      50|                      332|           8663|                      41|                      236|      38612|      41385|
|   12055|               112025|               138800|           2459|                      14|                      105|           2498|                      10|                       68|      34433|      37158|
|   12057|               150517|               157500|          39725|                     162|                     1073|          40330|                     199|                      906|      48586|      51848|
+--------+---------------------+---------------------+---------------+------------------------+-------------------------+---------------+------------------------+-------------------------+-----------+-----------+
only showing top 20 rows

In [26]:
complete_df.count()

764

In [27]:
complete_df.printSchema()

root
 |-- CountyID: string (nullable = true)
 |-- AverageSalesPrice2019: string (nullable = true)
 |-- AverageSalesPrice2020: string (nullable = true)
 |-- Population 2019: string (nullable = true)
 |-- Violent Crime Total 2019: string (nullable = true)
 |-- Property Crime Total 2019: string (nullable = true)
 |-- Population 2020: string (nullable = true)
 |-- Violent Crime Total 2020: string (nullable = true)
 |-- Property Crime Total 2020: string (nullable = true)
 |-- Income_2019: string (nullable = true)
 |-- Income_2020: string (nullable = true)

In [28]:
# Import struct fields that we can use
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [31]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://database-1.cx6o5jgyfq1i.us-east-1.rds.amazonaws.com:5432/database-1"
config = {"user":"postgres",
          "password": "bootcamp",
          "driver":"org.postgresql.Driver"}

Enter database password··········

In [32]:
# Write DataFrame to active_user table in RDS
complete_df.write.jdbc(url=jdbc_url, table='complete_df', mode=mode, properties=config)

Py4JJavaError: ignored